<div data-role="page" id="menu">

	<div data-role="header">
		<h1>Teaching Tech Test App</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>I'm first in the source order so I'm shown as the page.</p>
		<a href="#gallery" class="ui-btn">Gallery</a>
		<a href="#contact" class="ui-btn">Contact</a>
		<a href="#upload" class="ui-btn">Upload</a>
		<a href="#settings" class="ui-btn">Configuracion</a>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed">
		<h4>Page Footer</h4>
  </div><!-- /footer -->

</div><!-- /page -->
