<div data-role="page" id="gallery">

    <div data-role="panel" data-position="right" id="mypanel">
        <<p>I am a panel!</p>
    </div><!-- /panel -->

	<div data-role="header">
        <a href="#menu" data-direction="reverse" class="ui-btn"><</a>
            <h1>Gallery</h1>
		<a href="#mypanel" class="ui-btn">+</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>I'm the second in the source order so I'm hidden when the page loads. I'm just shown if a link that references my id is beeing clicked.</p>
		<a href="#subgallery" class="ui-btn">Sub Gallery</a>
		
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page -->

{% include pages/2-subgallery.html %}