<div data-role="page" id="menu">

  {% include components/header.liquid title=site.title %}

  <div role="main" class="ui-content">
    <p>{{ site.description }}</p>

    {% for page in page.pages %}
      <a href="#{{ page.title | downcase }}" class="ui-btn">{{ page.title }}</a>
    {% endfor %}
  </div>

  {% include components/footer.liquid %}

</div>
