<div data-role="page" id="{{ page.title | downcase }}">

  {% include components/panel/panel.liquid %}
  {% include components/header.liquid 
     title=page.title
     parent="menu"
  %}

  <div role="main" class="ui-content">
    <p>{{ page.body }}</p>
    {% if page.subpage %}
      <a href="#subgallery" class="ui-btn">
        {{ page.subpage.title }}
      </a>
    {% endif %}
  </div>

  {% include components/footer.liquid %}

</div>

{% if page.subpage %}
  {% include components/subpage.liquid %}
{% endif %}
