<div data-role="page" id="{{ page.title | downcase | url_encode }}">

  {% include components/panel.liquid %}
  {% include components/header.liquid 
     title=page.title
     parent="menu"
  %}

  <div role="main" class="ui-content">
    <p>{{ page.body }}</p>

    {% if page.subpage %}
      {% include components/buttons/subpage.liquid %}
    {% endif %}
  </div>

  {% include components/footer.liquid %}

</div>

{% if page.subpage %}
  {% include components/subpage.liquid %}
{% endif %}
