<div data-role="page" id="{{ page | downcase | url_encode }}">
  {% assign title = site.data.pages[page].title %}

  {% include components/panel.liquid %}
  {% include components/header.liquid 
     title=title
     parent="menu"
  %}

  <div role="main" class="ui-content">
    <p>{{ site.data.pages[page].body }}</p>

    {% if site.data.pages[page].subpage %}
      {% include components/buttons/subpage.liquid %}
    {% endif %}
  </div>

  {% include components/footer.liquid %}

</div>

{% if site.data.pages[page].subpage %}
  {% include components/subpage.liquid %}
{% endif %}
