<div data-role="page" id="sub{{ page.title | downcase }}">

  {% include components/header.liquid
     title=page.subpage.title
     parent=page.title
  %}

  <div role="main" class="ui-content">
    <p>{{ page.subpage.body }}</p>
  </div>

  {% include components/footer.liquid %}

</div>
