<div data-role="page" id="sub{{ page | downcase | url_encode }}">
  {% assign title = site.data.pages[page].subpage.title %}

  {% include components/header.liquid
     title=title
     parent=page
  %}

  <div role="main" class="ui-content">
    <p>{{ site.data.pages[page].subpage.body }}</p>
  </div>

  {% include components/footer.liquid %}

</div>
